// Place all the styles related to the participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sorting, .sorting_asc, .sorting_desc {
	font-size: 10px;
}

td {
	font-size: 10px;
	width: 100px;
}
